@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body {
  background: #eef6f2;
  font-family: 'Playfair Display', serif;
  color: #335C79;
  font-size: 20px;
  line-height: 1;
  text-align: center;
}

h1 {
  color: #223558;
  font-size: 30px;
  line-height: 2;
}

h2, h3 {
  color: #335C79;
  font-size: 26px;
  line-height: 1.5;
}

img {
  border-radius: 50px;
}

.container {
  display: block;
  margin: 40px;
}

.second_container {
  display: block;
  margin: 100px;
}

.card-white {
  background-color: white;
  padding: 40px;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 50%);
  border-radius: 20px;
  margin: 20px 20px;
  text-align: center;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.btn-blue {
  background-color: #6B72E1;
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
}
